.header-container {
    padding: 10px;
    height: 78px;
    width: 100%;
    background-color: #41ade7;
}

.firma-ucr {
    height: 78px;
}

.identificador-ie {
    height: 45px;
}

@media only screen and (max-width: 600px) {
    .header-container {
        height: 165px;
    }

    .identificador-ie {
        height: 45px;
        padding-left: 5%;
    }


}