.docente-container {
    background-color: rgb (245, 245, 220);
    max-width: 95%;
    display: flex;
    flex-flow: row wrap;
}

.docente-container>mat-card {
    margin-bottom: 5px;
    margin-left: 5px;
    width: 45%;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.docente-container>mat-card>mat-card-header {
    padding-top: 10 px;
}

.mat-card-cont ent-container {
    padding-left: 10 px;
}

h2 {
    max-width: 95%;
    text-align: center;
    margin-top: 25px;
}

.component {
    border: 0.5px solid #d4d3d3;
    border-radius: 5px;
    width: 45%;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.component span {
    font-weight: bold;
}
.selector-container{
    margin-left: 5%;
    padding-top: 10px;
}

.radio-group {
    display: flex;
    flex-direction: column;
}

.alert {
    font-size: small;
    color: red;
    text-align: center;
}

.mat-checkbox, .mat-radio-button{
    margin-bottom: 6px;
}
